body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

.title {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.coming-soon {
    color: aquamarine;
    font-size: 16px;
}

.h2-title {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

footer p {
    color: gray;
    text-align: right;
}